body{
  display:block;
}
#particles{
  position: fixed;
}
.navbar{
  background:rgba(0,0,0, 0.3);
}
.navbar-brand{
  color:white;
}
.navbar-brand:hover{
  color:lightgray;
}
.selectCity{
  border:2px solid gray;
  background: rgba(0,0,0,0.5);
  padding:3em 0 3em 0;
  height: 100%;
  width:100%;
}
.predictions{
  border:2px solid gray;
  background: rgba(0,0,0,0.5);
  padding-bottom:1em;
  padding-top:1em;
  height: 100%;
  width:100%;
}
.predictionRow{
  /* height: 80%; */
  width:100%;
  margin:0
}
.upperPredictionWindow{
  padding:1em;
}
.predictionWindow{
  border:1px solid lightgray;
  background: rgba(0,0,0,0.2);
  border-radius: 5px;
  color:white;
  padding:0.5em;
  height: 100%;
  width:100%;
}
.input-group{
  width:80%
}
.city,#getWeather{
  border-radius:0;
  border:solid black 1px;
  background:white;
}
.city:focus,#getWeather:focus{
  box-shadow: none;
  border:solid black 1px;
}
.list{
  width:80%;
  background:white;
  border:solid lightgray 2px;
  border-top-width: 0;
  border-bottom-width:0;
  font-size: 0.85em;
}
.list-group-item{
  padding:2px 12px 2px;
  border:0
}
.weatherResponse{
  color:lightblue;
}
.bg1{
  background: lightgray;
}